.promo-partners {}

.promo {
    background-image: url('../../images/promo-partners/promo-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 160px 0;
    text-align: center;

    &__inner {
        max-width: 570px;
        width: 100%;
        margin-left: auto;
    }

    &__main-subtitle {
        font-size: 22px;
        color: $accent;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    &__main-title {
        @extend %title;
        margin-bottom: 40px;
    }

    &__link {
        margin-top: 50px;
        @extend %transparent-btn;
        padding: 15px 30px;
    }
}



#promo-countdown {
    display: flex;
    justify-content: space-between;
}

.promo-countdown {
    &__item {
        background-color: #fff;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        span {
            @extend %roboto-700;
            font-size: 48px;
            color: $black;
            margin: 12px 0 7px;
        }
    }

}

.smalltext {}

.hours {}

.minutes {}

.seconds {}

.partners {
    padding-top: 75px;
    height: 170px;

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__item {}

    &__img {}
}