.contacts {
    padding: 120px 0;
    &__inner {
        display: flex;
        column-gap: 30px;
    }

    &__info {
        max-width: 370px;
    }

    &__title {
        @extend %title;
        margin-bottom: 20px;
        text-align: left;
        text-transform: unset;
    }

    &__text {
        margin-bottom: 60px;
    }
    &__item {
        margin-bottom: 40px;
        color: $black;
        padding-left: 80px;
        position: relative;
    }
    &__item::before {
        content: '';
        position: absolute;
        left: 0;
        width: 60px;
        top: -5px;
        box-shadow: 0px 5px 20px 0px rgba(146, 146, 146, 0.3);
        height: 60px;
        background-color: #fff;
    }
    &__item::after {
        content: '';
        position: absolute;
        top: 15px;
        height: 20px;
        left: 20px;
        background-repeat: no-repeat;
    }
    &__item_phone::after {
        background-image: url('../../images/contacts/phone-icon.svg');
        width: 20px;
    }
    &__item_marker::after {
        background-image: url('../../images/contacts/marker-icon.svg');
        width: 14px;
        left: 23px;
    }
    &__item_email::after {
        background-image: url('../../images/contacts/mail-icon.svg');
        width: 18px;
    }
    &__item:last-child {
        margin-bottom: 0;
    }


    &__phone,
    &__email {
        display: block;
    }

    &__form {
        padding: 60px 40px;
        box-shadow: 0px 10px 40px 0px rgba(172, 172, 172, 0.3);
        width: 100%;
    }

    &__form-title {
        font-size: 22px;
        @extend %roboto-700;
        margin-bottom: 20px;
        color: $black;
    }

    &__box {
        display: flex;        
        justify-content: space-between;
    }

    &__input,
    &__textarea {
        display: block;
        width: 100%;
        border: none;
        background-color: #f6f6f6;
        margin-bottom: 30px;
    }
    &__input {
        height: 60px;
        padding: 0 25px;
        width: 330px;
    }
    &__input_big {
        width: 100%;
    }

    &__textarea {
        resize: none;
        padding: 25px;
        height: 200px;
    }


    &__btn {
        @extend %btn;
        padding: 20px 30px;
    }
}
