.product {
    padding: 110px 0 120px;
    text-align: center;

    &__main-title {
        @extend %title;
        margin-bottom: 15px;
    }

    &__main-text {
        @extend %text;
    }

    &__items {
        margin: 60px 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 30px;
        row-gap: 50px;
    }

    &__link {
        @extend %transparent-btn;
        padding: 20px 30px;

    }

}


.product-item {
    max-width: 370px;
    text-align: center;

    &__img-box {
        position: relative;
        height: 370px;
        overflow: hidden;
        margin-bottom: 15px;

    }

    &__content-box {
        display: none;
    }

    &__img-box:hover .product-item__links {
        transform: translateY(0%);
    }

    &__img {
        object-fit: cover;
    }

    &__links {
        position: absolute;
        background-color: #fff;
        bottom: 50px;
        left: 0;
        right: 0;
        padding: 15px 25px;
        transition: 0.3s all;

        text-align: center;
        width: 212px;
        height: 50px;
        margin: 0 auto;
        box-shadow: 0px 5px 30px 0px rgba(152, 152, 152, 0.2);
        border-radius: 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transform: translateY(300%);
    }

    &__link {
        line-height: 0;

    }

    &__link_lines::before,
    &__link_lines::after {
        content: '';
        position: absolute;
        width: 1px;
        background-color: #ececec;
        height: 30px;
        top: 10px;
    }

    &__link_lines::before {
        left: 70px;
    }

    &__link_lines::after {
        right: 70px;
    }

    &__link path {
        transition: 0.3s all;
    }

    &__link:hover {
        path {
            fill: $accent;
        }
    }

    &__link_line::before,
    &__link_line::after {
        content: '';
        position: absolute;
        height: 30px;
        width: 1px;
        background-color: #ececec;
        top: 10px;
    }

    &__link_line::before {
        left: 70px;
    }

    &__link_line::after {
        right: 70px;
    }

    &__title {
        font-size: 22px;
        padding: 15px 0;
        color: $black;
    }

    &__prices {
        display: flex;
        justify-content: center;
        column-gap: 20px;
    }

    &__new-price {
        @extend %roboto-500;
        color: $black;

    }

    &__old-price {
        text-decoration: line-through;
        @extend %roboto-400;
    }
}

.product-item_list {
    min-width: 100%;
    display: flex;
    text-align: left;

    
  
    .product-item__content-box {
        display: block;
    }
    .product-item__text {
        margin-bottom: 25px;
    }

    .product-item__box {
        display: flex;
        flex-wrap: wrap;
    }

    .product-item__btn {
        padding: 15px 40px;
        background-color: $black;
        @extend %btn; 
        transition: 0.3s all;
        text-transform: none;
        box-shadow: none;
    }

    .product-item__btn:hover {
        background-color: $accent;
        

    }

    .star {
        margin-left: 23px;
    }

    .product-item__title {
        order: -1;
        width: 100%;
        padding: 0;
        margin-bottom: 10px;

    }

    .product-item__prices {
        order: -1;
    }

    .product-item__wrapper {
        padding: 30px 40px;
        border: 1px solid #ececec;
        border-left: none;
    }

    .product-item__img-box {
        height: auto;
        min-width: 200px;
        margin-bottom: 0;
    }

    .product-item__img {
        height: 100%;
        width: 100%;
    }


    .product-item__links {
        background-color: transparent;
        width: 115px;
        box-shadow: none;
        padding: 15px 0px;
        bottom: auto;
    }

    .product-item__link {
        width: 50px;
        height: 50px;
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .product-item__link_lines {
        display: none;
    }
}

.product-item_list:hover {
    .product-item__links {
        transform: translateY(-280%);
    }

}


.product-item_sale {
    .product-item__img-box::before {
        content: 'SALE';
        @extend %btn;
        padding: 10px 12px;
        text-transform: uppercase;
        color: #fff;
        position: absolute;
        top: 25px;
        left: 25px;
        line-height: 1;
    }
}


.star {
    margin: 0 auto;
}