.video-fashion {
    background-color: $gray;
    background-image: url('../../images/decor/pattern.svg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 120px 0;

    &__inner {
        display: flex;
        column-gap: 60px;
    }

    &__popup {
        max-width: 530px;
        width: 100%;
        display: flex;
        justify-content: center;
        height: 480px;
        align-items: center;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        background-image: url('../../images/video-fashion/woman.jpg');
    }

    &__content {
        max-width: 570px;
    }
    &__subtitle {
        color: $accent;
        text-transform: uppercase;
        margin-bottom: 5px;
        font-size: 22px;
        padding-top: 75px;
    }
    &__title {
        @extend %title;
        margin-bottom: 35px;
        text-align: left;
    }
    &__text {
        margin-bottom: 55px;
    }
    &__link {
        @extend %btn;
        padding: 20px 30px;
    }
}