@media (max-width: 768px) {
    .top-wrapper {
        background-image: none;
        background-color: #ececec;
    }
}

@media (max-width: 620px) {
    .top-wrapper {
      padding: 80px 0;
    }
}