.page-404 {
    padding: 120px 0;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        @extend %title;
        text-transform: none;
        text-align: unset;
        color: #28384f;
        margin-bottom: 20px;
    }

    &__text {
        max-width: 480px;
        margin-bottom: 55px;
    }

    &__link {
        @extend %btn;
        padding: 20px 30px;
    }

}


.header_404-page {
    background-color: $gray;
}