._container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

html,
body {
    height: 100%;
}

.main {
    flex-grow: 1;
}

body {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    line-height: 26px;
    color: $main;
    @extend %quicksand-500;
}





@import 'header/header';
@import 'top-slider/top-slider';
@import 'categories-info/categories-info';
@import 'video-fashion/video-fashion';
@import 'product/product';
@import 'promo-partners/promo-partners';
@import 'blog/blog';
@import 'top/top';
@import 'modal/modal';
@import '404-page/404-page';
@import 'shop/shop';
@import 'footer/footer';

