._container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

html,
body {
    height: 100%;
}

.main {
    flex-grow: 1;
}

body {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    line-height: 26px;
    color: $main;
    @extend %quicksand-500;
}


// ---------Pages---------

@import 'index/index';
@import 'top/top';
@import 'modal/modal';
@import '404-page/404-page';
@import 'shop/shop';
@import 'production/production';
@import 'blog-page/blog-page';
@import 'blog-details/blog-details';
@import 'contacts/contacts';



// ---------Adapted Pages---------

@import 'index/index-media';
@import 'top/top-media';
@import 'modal/modal-media';
@import '404-page/404-page-media';
@import 'shop/shop-media';
@import 'blog-page/blog-page-media';
@import 'production/production-media';
@import 'blog-page/blog-page-media';
@import 'blog-details/blog-details-media';
@import 'contacts/contacts-media';








