.header {
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 0;
    }
}

.menu {
    &__list {
        display: flex;
    }
    &__item + &__item {
        padding-left: 35px;
    }
    &__link {
        text-transform: uppercase;
        color: $black;
        padding: 0 3px 5px;
        transition: all .3s;
        @extend %roboto-400;
        &:hover {
            border-bottom: 1px solid $accent;
            color: $accent;
        }
    }
    &__link_active {
        color: $accent;
        font-weight: 700;
        border-bottom: 1px solid $accent;
    }
}

.user-nav {
    display: flex;
    &__link {
        position: relative;
    }
    &__link + &__link {
        padding-left: 25px;
    }
    &__num {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        text-align: center;
        line-height: 20px;
        top: -9px;
        font-size: 12px;
        right: -13px;
        background-color: $accent;
        color: #fff;
    }
}