.footer {
    background-color: $gray;
    
}

.footer-top {
    padding: 70px 0 40px;
    border-bottom: 1px solid #d3d3d3;
    display: flex;
    &__logo {
        display: block;
        margin-bottom: 35px;
    }
    &__address,
    &__email,
    &__phone {
        display: inline-block;
        margin-bottom: 10px;
    }
    &__phone {
        margin-bottom: 0px;
    }
    &__item_size-260px {
        width: 260px;
        margin-right: 40px;
    }

    &__item_size-170px {
        width: 170px;
        margin-right: 30px;
    }

    &__item_size-470px {
        width: 470px;
    }

    &__title {
        margin-bottom: 40px;
        color: $black;
        @extend %roboto-500;
        font-size: 22px;
    }

    &__networks {
        margin-top: 40px;
        display: flex;
        align-items: center;
    }
    &__link {
        margin-bottom: 14px;
        display: inline-block;
    }

    &__network+&__network {
        margin-left: 18px;
    }
    &__network-link {
        path {       
            transition: all .3s;
            fill: $main;
        }
        &:hover {
            path {
                fill: $accent;
            }
        }
    }
    &__text {
        margin-bottom: 25px;
    }
    &__input {
        max-width: 320px;
        width: 100%;
        border: none;
        padding: 12px 15px;
        box-shadow: 0px 7px 20px 0px rgba(192, 192, 192, 0.3);

    }
    &__btn {
        @extend %btn;
        border: none;
        padding: 12px 25px;
    }
    &__form {
        display: flex;
        justify-content: space-between;
    }

}

.footer-bottom {
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    &__img {
        display: inline-block;
        vertical-align: middle;
        margin-left: 25px;
    }
}