@media (max-width: 1240px) {
    .top-slider {
        padding-top: 40px;

        &__img {
            width: 40%;
            object-fit: cover;
        }

        &__content {
            padding-left: 0;
        }
    }

    .info {
        &__item {
            padding: 20px 20px;
            width: 340px;
        }
    }

    .info::after {
        right: 0;
    }

    .blog {
        &__items {
            display: grid;
            gap: 30px;
            grid-template-columns: repeat(3, 1fr);
        }

        &__items::after {
            right: 3px;
        }
    }

    .blog-item {
        &__content {
            padding: 20px 15px;
        }
    }
}

@media (max-width: 1100px) {
    .info {
        &__items {
            display: block;
        }

        &__item {
            display: block;
            width: 100%;
            margin-bottom: 20px;
        }

        &__title {
            margin: 20px 0 10px;
        }
    }

    .categories {
        &__items {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto;
        }

        &__item {
            background-position: center top;
        }

        &__item_wide {
            grid-column: auto;
            background-position: center right;

        }

        &__item_high {
            grid-row: auto;
        }
    }
}


@media (max-width: 1050px) {
    .footer-top {
        flex-wrap: wrap;

        &__item_size-470px {
            width: 100%;
            margin-top: 30px;
        }
    }

    .blog {
        &__items {
            display: grid;
            gap: 30px;
            grid-template-columns: repeat(2, 1fr);
        }

        &__items::after {
            right: 3px;
        }
    }

    .blog-item {
        max-width: 100%;

        &__img {
            width: 100%;
        }
    }

    .product-item {
        &__img-box {
            height: 315px;
        }
    }

    .video-fashion {
        &__inner {
            display: block;
        }

        &__popup {
            max-width: 100%;
            background-position: center top;
        }

        &__content {
            max-width: 100%;
        }

    }

    .top-slider {
        padding-top: 40px;

        &__item {
            .top-slider__img {
                display: none;
            }

        }

        &__content {
            padding-bottom: 50px;
        }

        .slick-dots {
            margin-top: 0;
        }
    }
}

@media (max-width: 860px) {
    .product {
        &__items {
            gap: 30px;
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .menu {
        order: 1;

        &__list {
            position: absolute;
            top: 110px;
            transform: translateY(-200%);
            left: 0;
            width: 100%;
            background-color: #fff;
            flex-direction: column;
            align-items: center;
            z-index: 5;
            text-align: center;
        }

        &__list_active {
            transform: translateY(0%);
        }

        &__item+&__item {
            padding-left: 0px;
        }

        &__item {
            margin: 12px 0;
            width: 100%;
        }

        &__btn {
            width: 20px;
            height: 20px;
            display: block;
            border: none;
            padding: 0;
            background-color: transparent;
        }

        &__line {
            width: 100%;
            height: 2px;
            display: block;
            margin: 4px 0;
            background-color: $black;
        }

    }

    .footer-top {
        &__item_size-260px {
            width: 100%;
            margin-bottom: 30px;
            margin-right: 0;
        }
    }

    .user-nav {
        margin-left: auto;
        margin-right: 30px;
    }
}

@media (max-width: 768px) {
    .categories {
        &__item {
            background-image: none;
        }

        &__item_first {
            background-color: #f4dff0;
        }

        &__item_second {
            background-color: #d7efef;
            padding: 35px 0 0 35px;

        }

        &__item_third {
            background-color: #fff6a7;
        }

        &__item_fourth {
            background-color: #ededed;
        }
    }

    .blog {
        &__items {
            display: grid;
            gap: 30px;
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

@media (max-width: 620px) {

    .video-fashion,
    .product,
    .promo,
    .blog,
    .page-404,
    .blog-page {
        padding: 60px 0;
    }

    .promo {
        background-image: none;
        background-color: #f6f6f6;
    }

    #promo-countdown {
        justify-content: center;
        flex-wrap: wrap;
    }

    .promo-countdown {
        &__item {
            margin: 20px 36px;
        }
    }

    .partners {
        height: auto;
        padding: 60px 0;

        &__list {
            flex-wrap: wrap;
            justify-content: center;
        }

        &__item {
            margin: 10px 35px;
        }
    }

    .footer-bottom {
        justify-content: center;

        &__copy {
            width: 100%;
            text-align: center;
        }
    }

    .product {
        &__items {
            gap: 30px;
            grid-template-columns: repeat(1, 1fr);
        }

    }

    .product-item {
        max-width: 100%;

        &__img {
            width: 100%;
        }
    }

    .video-fashion {
        &__popup {
            height: 270px;
        }

        &__subtitle {
            padding-top: 35px;
            margin-bottom: 15px;
            font-size: 18px;
        }

        &__title {
            margin-bottom: 18px;
        }

        &__link {
            text-align: center;
            width: 100%;
            padding: 15px 30px;
        }

        &__text {
            margin-bottom: 35px;
        }
    }

    .categories-info {
        padding: 120px 0 60px;
    }

    .categories {
        &__items {
            grid-template-columns: repeat(1, 1fr);
            gap: 20px;
        }

        &__item {
            padding: 40px;
            text-align: center;
        }

        &__title {
            font-size: 18px;
        }
    }



    .top-slider {
        &__title {
            line-height: 1.2;
            font-size: 50px;
            margin-bottom: 25px;
        }

        &__text {
            margin-bottom: 35px;
            max-width: 100%;
        }
    }
}

@media (max-width: 500px) {
    .user-nav {
        width: 100%;
        margin-top: 15px;
        justify-content: flex-end;
        margin-right: 13px;

    }

    .menu {
        order: 0;
    }

    .partners {
        &__item {
            margin: 10px 25px;
        }
    }
}

@media (max-width: 420px) {
    .promo-countdown {
        &__item {
            margin: 6px;
        }
    }

    .promo {
        &__main-title {
            margin-bottom: 30px;
        }
    }

    .product-item {
        &__img-box {
            height: 280px
        }
    }

    .footer-top {
        &__list {
            display: none;
        }

        &__nav {
            margin-top: 30px;
            margin-right: 0;
            width: 100%;
        }

        &__form {
            flex-wrap: wrap;
        }

        &__input {
            max-width: 100%;
        }

        &__title {
            margin-bottom: 20px;
        }

        &__arrow {
            pointer-events: auto;
            position: relative;
        }

        &__arrow::after {
            content: '';
            position: absolute;
            right: 0;
            width: 20px;
            height: 20px;
            transition: 0.3s all;
            bottom: 0;
            background-repeat: no-repeat;
            background-image: url('../../images/icons/arrow-down.svg');
        }

        &__arrow_active::after {
            transform: rotate(90deg);
        }

        &__btn {
            margin-top: 10px;
            width: 100%;
        }
    }

    .blog {
        &__items::before,
        &__items::after {
            background-image: none;
        }
    }
    
    .blog-info {
        display: block;
        
        &__data {
            margin-top: 5px;
        }
    }
}

@media (max-width: 375px) {
    .top-slider {
        &__title {
            line-height: 1;
            font-size: 38px;
            margin-bottom: 25px;
        }

        &__link {
            width: 100%;
            text-align: center;
        }

        &__content {
            padding-bottom: 25px;
        }
    }

    .blog {
        &__main-text {
            margin: 20px 0;
        }
    }

    .blog-item {
        &__content {
        }
        &__img {
            height: 220px;
        }
        &__title {
            margin: 8px 0;
        }
    }


    .info {
        &__item {
            text-align: center;
        }

        &__title {
            line-height: 35px;
        }

        &__text {
            text-align: left;
        }
    }

}